<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
    <title>List To Do</title>
</head>
<body>
    <div id="app">
        <div class="card-contain">
            <h1>To Do List</h1>
             <div class="input-text d-flex justify-content-center ">
                <!-- submit(refresh page).prevent(dont refresh page)-> When on time Enter, It will submit itself. -->
                <h5 style="margin-right: 10px;">New to do</h5>
                <form @submit.prevent="addtodo"> 
                    <input type="text" v-model="content">
                    <button> Add To Do</button>
                </form>
            </div>
            <div class="new-list">
                <h4>To do list ({{todos.length}})</h4>
                <ul>
                    <li v-for="(todo,index) in todos">
                        <!-- <span v-if="todo.done" style="text-decoration: line-through;" @cilck="doIt">{{todo.content}}</span>
                        <span v-else @cilck="doIt">{{todo.content}}</span> -->
                        <span :class="{ done: todo.done, notDone: !todo.done}" @click="doIt(todo)">{{todo.content}}</span>
                        <button @click="removeTodo(index)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        const App = {
            data(){
                return{
                    /*build array | [object]*/
                    todos: [
                        {content: 'กินข้าว', done: false},
                        {content: 'อ่านหนังสือ', done: true}
                        
                    ],
                    content: '',
                      
                }
            },
            methods: {
                addtodo(){
                    // console.log(this.content) //debug
                    this.todos.push({content: this.content, done: false}) //add array
                    this.content = ''
                },
                removeTodo(index){
                    // console.log(index)
                    this.todos.splice(index,1)
                },
                doIt(todo) {
                    todo.done = !todo.done
                }
            }
            
        }
        Vue.createApp(App).mount('#app')
    </script>

    <style>
        #app {
            max-width: max-content;
            height: auto;
            margin: auto;
            margin-top: 30px;
            padding: 30px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .new-list {
            margin-top: 20px;
            margin-left: 50px;
        }
        .done {
            text-decoration: line-through;
             color: gray;

        }
        .notDone {
            color: green;
        }
        button {
            margin-left: 10px;
        
            border: 1px;
            background-color: whitesmoke;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</body>
</html>